body {
    box-sizing: border-box;
    border: 3px solid red;
}
ul li {
    list-style: none;
}
.wrapper {
    box-sizing: border-box;
 /*   border: 5px solid red; */
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    width: 1024px;
    position: relative;

}
section {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    width: 1015px;
    background-image: url(../APC/img/h_m.jpg);
    background-repeat: no-repeat;
    background-size: 159%;
    background-position: 46% 100%;
}


header {
    height: 624px;
  /*    width: 1040px;
    justify-content: space-around;
  background-color: sandybrown; */
    background-color: 1px solid black;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    color: whitesmoke;


}
nav {
    width: 92%;
    height: 54px;
    margin-top: 50px;
    background-color: 1px solid red;
    background-image: url(../APC/img/nav-image.png);
    background-size: cover;
}

.nav-logo {
    width: 25px;
    height: 25px;
}

h1 {
    margin: 83px 0 -7px;
}
/* h1 {
    text-align: left;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin: 112px 0px 16px;
    padding: 0px;
}

h1 > img {
    height :104px;
    width: 980px;
    text-align: left;
    margin-right: auto;
    margin-left: auto; 
    display: block;
    border-width: 0px;
    border-style: none;
    border-color: white; 
}
 
article {
    height: 384px;
   width: 1200px;
 margin-left: -23%;
    background-color: lightcoral;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    color: whitesmoke; 
    
    align-items: center;
    flex-direction: column;
    
    
    

    h2 {
        text-align: left;
        font-style: normal;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 18px;
        font-size: 16px;
        margin: 0px 0px 27px; 
        padding: 0px; 
     }
    
      h2 > a {
     text-align: left;
     color: rgb(0, 136, 204);
     text-decoration: none;
      }

      h2:first-child {
        height: 176px;
        width: 980px;
        text-align: left;
        display: none;
        margin-right: auto;
        margin-left: auto;
        border-width: 0px; 
        border-style: none; 
        border-color: white;
      }
      }*/
#line-first {
    display: inline-block;
    overflow: hidden;
    height: 81%;
}
  
  #line-third {
    
    display: inline-block;
    margin-top: 15px;
    height: 35%;
    overflow: hidden;

  }
  
      /*
      .line-t-3 {
        display: block;
        text-align: center;
        position: relative;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 31px; 
        margin: 0px auto; 
        padding: 0px; 
      }
      .line-t-3  a {
        color:rgb(0, 136, 204);
        text-decoration: none;
        display: inline-block;
        height: 29px;
        margin: 0px 18px 25px; 
      }
      .line-t-3 a img {
        height: 64px;
        width: 980px;
        display: inline-block;
        border-width: 0px; 
        border-style: none; 
        border-color: white;
      }   */
    .image-bar {
        box-sizing: border-box;
        height: 240px;
     /*   width: 1400px;
         background-color: lightcoral; */
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
    .as-4images > img {
        width: 98%;
        height: 98%;
    }
    footer {
        box-sizing: border-box;
        height: 56px;
        width: 1400px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 21px;
        font-size: 9px;
    }

    .f-l-up li,
    .f-l-down li {
        display: inline-block;
        color: rgb(110, 110, 110);
    
    line-height: 1.2;
    }

 
    .info-left {
        display: flex;
    flex-direction: column;
    line-height: 0.7em;
    padding-top: 10px;
    }
  


     .info-right {
       width: 52%;
       padding-top: 10px;
    }

      .f-r {
        display: flex;
    flex-direction: row;
    justify-items: flex-start;
    list-style: none;
    }
    .f-r-li {
        padding-right: 2px;
    }
    a {
        text-decoration: none;
    }