body {
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
main {
    border: 5px solid red;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    position: relative;

}
section {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    background-image: url(../APC/img/h_m.jpg);
    background-repeat: no-repeat;
    background-size: 118%;
    background-position: -54px 96%;
}
header {
    height: 140px;
  /*    width: 1040px;
    
  background-color: sandybrown; */
    background-color: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;


}
nav {
    width: 92%;
    height: 40px;
    background-color: 1px solid red;
    background-image: url(../APC/img/nav-image.png);

}

.nav-logo {
    width: 25px;
    height: 25px;
}
article {
    height: 224px;
 /*   width: 1200px;
 margin-left: -23%;
    background-color: lightcoral; */
    border: 1px solid black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
    color: whitesmoke;
    }
    aside {
        height: 140px;
        width: 881px;
    /*     background-color: lightcoral; */
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
    .as-4images > img {
        width: 98%;
        height: 98%;
    }
    footer {
        height: 56px;
        width: 862px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 21px;
        font-size: 9px;
    }

    .f-l-up li,
    .f-l-down li {
        display: inline-block;
        color: rgb(110, 110, 110);
    
    line-height: 1.2;
    }

 
    .info-left {
        display: flex;
    flex-direction: column;
    line-height: 0.7em;
    padding-top: 10px;
    }
  


     .info-right {
       width: 52%;
       padding-top: 10px;
    }

      .f-r {
        display: flex;
    flex-direction: row;
    justify-items: flex-start;
    list-style: none;
    }
    .f-r-li {
        padding-right: 2px;
    }
    a {
        text-decoration: none;
    }