* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    height: 680px;
    background-image: url(../img/h_m.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 1166px;
    background-position: 60% 101%;
    position: relative;
    z-index: -1;
}

header {
    height: 624px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: whitesmoke;
}

nav {
    display: flex;
    height: 48px;
    max-width: 930px;
    width: 930px;
    margin: 0 auto;
    position: relative;
    top: 90px;
    background-image: url(../img/nav-image.png);
    background-repeat: no-repeat;
    background-size: 930px 48px;
}

.nav-logo {
    position: absolute;
    top: 7px;
    left: 40px;
    width: 31px;
    height: 31px;
    margin: 0;
    padding: 0;
}

.nav-info {
    display: block;
    position: absolute;
    top: 65px;
    height: 30px;
    background-color: transparent;
    border-right: 2px solid #848282;
    z-index: 1000;
    margin: 3px auto;
    color: #ede7e7fa;
    font-size: 0.7em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.store {
    left: 12%;
    top: 6px;
    padding: 10px 40px 0 40px;
    border-left: 2px solid #848282;
}

.mac {
    left: 27%;
    top: 6px;
    width: 7%;
    padding-right: 10px;
    padding-top: 10px;
}

.ipod {
    left: 38%;
    top: 6px;
    padding-right: 38px;
    padding-top: 10px;
}

.iphone {
    left: 48%;
    top: 6px;
    padding-right: 21px;
    padding-top: 10px;
}

.ipad {
    left: 58%;
    top: 6px;
    padding-right: 39px;
    padding-top: 10px;
}

.itunes {
    left: 68%;
    top: 7px;
    padding-right: 27px;
    padding-top: 10px;
}

.support {
    left: 78%;
    top: 6px;
    padding-right: 27px;
    padding-top: 10px;
}

.nav-search {
    position: absolute;
    float: right;
    top: -1px;
    right: -1px;
    width: 15%;
    background-image: none;
    background-color: transparent;
    z-index: 999;
    margin: 0;
    padding: 8px 13px 8px 20px;
    color: #ede7e7fa;
}

nav li {
    height: 30px;
    background-color: transparent;
    z-index: 1000;
    margin: 3px auto;
    color: #ede7e7fa;
    font-size: 0.7em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    opacity: 1;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: auto;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.0976562);
    border-radius: 12px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px, rgba(255, 255, 255, 0.199219) 0px 1px 0px;
    background-repeat: no-repeat;
    border-width: 0px;
    border-style: none;
    margin: 1px 0 0;
    padding: 0;
    border-color: white;
}

.ins-fo-m {
    margin: 0;
    padding: 0;
}

label {
    display: none;
    margin: 0;
}

input {
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 100%;
    height: 28px;
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-bottom-left-radius: 12px 12px;
    box-sizing: border-box;
    z-index: 0;
    border-width: 0;
    border-style: none;
    margin: 0 0 -1px;
    padding: 2px 18px 1px 22px;
    border-color: white;
}

.fa-search {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 13px;
    height: 11px;
    z-index: 0;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 192px 0 -7px;
}

h2 {
    text-align: left;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 18px;
    font-size: 16px;
    margin: 0 0 27px;
    padding: 0;
}

h2:first-child {
    height: 176px;
    width: 980px;
    text-align: left;
    display: none;
    margin-right: auto;
    margin-left: auto;
    border-width: 0;
    border-style: none;
    border-color: white;
}

#line-first {
    display: inline-block;
    overflow: hidden;
    height: 81%;
}

#line-third {
    display: inline-block;
    margin-top: 15px;
    height: 35%;
    overflow: hidden;
}

.image-bar {
    box-sizing: border-box;
    height: 218px;
    display: flex;
    justify-content: space-between;
}

.as-4images > img {
    width: 98%;
    height: 98%;
}

footer {
    box-sizing: border-box;
    height: 56px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 11px;
}

.f-l-up li,
.f-l-down li {
    display: inline-block;
    color: rgb(110, 110, 110);
    line-height: 1.2;
    padding-top: 20px;
}

.info-left {
    display: flex;
    flex-direction: column;
    line-height: 0.7em;
    padding-left: 30px;
}

.info-right {
    width: 52%;
    padding-top: 15px;
    padding-left: 30px;
}

.f-r {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    list-style: none;
}

.f-r-li {
    padding-right: 2px;
}

.flg {
    width: 12px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 136, 204);
}

@media screen and (min-width: 768px) {
    nav {
        width: 85%;
    }

    .image-bar {
        width: 98%;
    }

    footer {
        width: 90%;
        font-size: 7px;
    }
}