* {
    box-sizing: border-box;
    border: 3px solid red;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    /*   border: 5px solid red; 
    
    width: 100%;
    position: relative; */

}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    height: 680px;
    background-image: url(../img/h_m.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 1166px;
    background-position: 60% 101%;
    position: relative;
    z-index: 1;
}


header {
    height: 624px;
    /*    width: 1040px;
    justify-content: space-around;
  background-color: sandybrown;
    background-color: 1px solid black; */
    display: flex;

    align-items: center;
    flex-direction: column;
    color: whitesmoke;


}

nav {
    display: flex;
    height: 34px;
    max-width: 930px;
    margin: 0 auto;
 /*   position: relative; */
    background-image: url(../img/nav-image.png);
    background-size: cover;
  
}


.nav-logo {
    position: absolute;
    top: 66px;
    left: 154px;
    width: 31px;
    height: 31px;
    z-index: 0;
    margin: 0px;
    padding: 0px;
    

}

.nav-info {
    display: block;
    position: absolute;
    top: 65px;
 /*   width: 100%;  */
    height: 30px;
    background-color: transparent;
    border-right: 2px solid #d6d1d1;
    z-index: 1000;
    margin: 3px auto;
    color: #ede7e7fa;
    font-size: 0.7em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.n-bar {
 
    box-shadow: 2px 0 lightslategray;
    z-index: 100;
}

.store {
    left: 18%;
    padding: 10px 40px 0 40px;
    border-left: 2px solid #d6d1d1; 
}


.mac {
    left: 29%;
    padding-right: 43px;
    padding-top: 10px;
}

.ipod {
    left: 38%;
    padding-right: 42px;
    padding-top: 10px;

}

.iphone {
    left: 47%;
    padding-right: 41px;
    padding-top: 10px;
}

.ipad {
    left: 57%;
    padding-right: 44px;
    padding-top: 10px;
}


.itunes {
    left: 66%;
    padding-right: 39px;
    padding-top: 10px;
}


.support {
    left: 75%;
    padding-right: 43px;
    padding-top: 10px;
}



.nav-search {
    position: absolute;
    float: right;
    top: 55px;
    right: 47px;
    width: 12%;
    background-image: none;
    background-color: transparent;
    z-index: 999;
    /*  border-width: 0px 2px 0px 1px;  */
    margin: 0px;
    padding: 8px 13px;
    color: #ede7e7fa
        /*  border: 1px solid black;   */
}
nav li {
    height: 30px;
    background-color: transparent;
    z-index: 1000;
    margin: 3px auto;
    color: #ede7e7fa;
    font-size: 0.7em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


form {
    opacity: 2;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: auto;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.0976562);
    border-radius: 12px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px, rgba(255, 255, 255, 0.199219) 0px 1px 0px;
    background-repeat: no-repeat;
    border-width: 0px;
    border-style: none;
    margin: 1px 0px 0px;
    padding: 0px;
    border-color: white;
}

.ins-fo-m {
    margin: 0px;
    padding: 0px;
}

label {
    display: none;
    margin: 0px;
}

input {
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 100%;
    height: 28px;
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-bottom-left-radius: 12px 12px;
    box-sizing: border-box;
    z-index: 0;
    border-width: 0px;
    border-style: none;
    margin: 0px 0px -1px;
    padding: 2px 18px 1px 22px;
    border-color: white;
}

.fa-search {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 13px;
    height: 11px;
    z-index: 0;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 83px 0 -7px;
}

/* h1 {
    text-align: left;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin: 112px 0px 16px;
    padding: 0px;
}

h1 > img {
    height :104px;
    width: 980px;
    text-align: left;
    margin-right: auto;
    margin-left: auto; 
    display: block;
    border-width: 0px;
    border-style: none;
    border-color: white; 
}
 
article {
    height: 384px;
   width: 1200px;
 margin-left: -23%;
    background-color: lightcoral;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    color: whitesmoke; 
    
    align-items: center;
    flex-direction: column;
    
    
    

    h2 {
        text-align: left;
        font-style: normal;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 18px;
        font-size: 16px;
        margin: 0px 0px 27px; 
        padding: 0px; 
     }
    
      h2 > a {
     text-align: left;
     color: rgb(0, 136, 204);
     text-decoration: none;
      }

      h2:first-child {
        height: 176px;
        width: 980px;
        text-align: left;
        display: none;
        margin-right: auto;
        margin-left: auto;
        border-width: 0px; 
        border-style: none; 
        border-color: white;
      }
      }*/
#line-first {
    display: inline-block;
    overflow: hidden;
    height: 81%;
}

#line-third {

    display: inline-block;
    margin-top: 15px;
    height: 35%;
    overflow: hidden;

}

/*
      .line-t-3 {
        display: block;
        text-align: center;
        position: relative;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 31px; 
        margin: 0px auto; 
        padding: 0px; 
      }
      .line-t-3  a {
        color:rgb(0, 136, 204);
        text-decoration: none;
        display: inline-block;
        height: 29px;
        margin: 0px 18px 25px; 
      }
      .line-t-3 a img {
        height: 64px;
        width: 980px;
        display: inline-block;
        border-width: 0px; 
        border-style: none; 
        border-color: white;
      }   */
.image-bar {
    box-sizing: border-box;
    height: 218px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.as-4images>img {
    width: 98%;
    height: 98%;
}

footer {
    box-sizing: border-box;
    height: 56px;
    width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 21px;
    font-size: 9px;
}

.f-l-up li,
.f-l-down li {
    display: inline-block;
    color: rgb(110, 110, 110);

    line-height: 1.2;
}


.info-left {
    display: flex;
    flex-direction: column;
    line-height: 0.7em;
    padding-top: 10px;
}



.info-right {
    width: 52%;
    padding-top: 10px;
}

.f-r {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    list-style: none;
}

.f-r-li {
    padding-right: 2px;
}
.flg {
    width: 14px;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
}